
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Tienda.cshtml";
    var idUsuario = ((ProyectoTest.Models.Usuario)Session["Usuario"]).IdUsuario;
}


<style>
    * {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
    }

    .autocomplete-container {
        position: relative;
        width: 100%;
    }

    .pac-container {
        z-index: 99999 !important;
    }

    #txtbuscarproducto {
        box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
        border-color: #bdbdbd;
    }

    .form-control {
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
    }

    #botonDR {
        height: 40px;
        border-radius: 10px;
        font-size: 13px;
        width: 140px;
    }

    #btnConsultaUbicacion {
        height: 40px;
        border-radius: 10px;
        font-size: 13px;
        width: 140px;
    }

    #btnIngresaTuDireccion {
        height: 40px;
        border-radius: 10px;
        font-size: 13px;
        width:140px;
    }

    #ddlTiendas {
        font-size: 15px;
    }

    footer {
        background: #222434;
        min-height: 100px;
    }

    footer a {
        color: white;
        font-size: 13px;
    }

    .custom-card {
        background-color: transparent;
        border: none;
        padding: 0;
    }

    #BtnCambio {
        margin-right: -10px;
    }
    #FormBusca {
        margin-right: 15px!important;
    }

</style>



<!---- CATEGORIAS Y BUSCADOR ---->
<div class="">
    <div class="container w-100 text-center " id="Header1">
        <div class="row py-3">
            <div class="col-auto me-auto col-lg-2 col-md-12  col-6 mb-1">
                <select id="selectCategoria" class="form-select" aria-label="Default select example" data-toggle="dropdown">
                    <option selected value="0"> Ver toda la carta </option>
                </select>
            </div>
            <div class="col-auto col-lg-4 col-md-12  col-12 m-0 ms-auto pt-2 pr-4" id="FormBusca">
                <div class="input-group mb-1">
                    <input class="form-control" id="txtbuscarproducto" placeholder="Busca tu plato preferido...">
                    <span class="input-group-text" id="basic-addon2"><i class="fas fa-search icon"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!---- LISTADO DE PRODUCTOS ---->
<div class="row">
    <div class="container">
        <div class="container mt-0">
            <div id="catalogo-productos" class="container px-2 px-lg-2 mt-3">
            </div>
        </div>
    </div>
</div>





<!--FOOTER PIE PAGINA-->
<footer class="w-100  d-flex  align-items-center justify-content-center flex-wrap ">

    <p class="text-decoration-none text-light px-3 p-3"> Proyecto Delivery &copy; Todos Los Derechos Reservados 2023</p>
</footer>




@section scripts{
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script>

        var idUsuarioGlobal = @idUsuario;
        $(document).ready(function () {
            jQuery.ajax({                                      //LLena las categorias
                url: '@Url.Action("ListarCategoria", "Tienda")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $(".row-categoria").html("");
                    $(".modal-body").LoadingOverlay("hide");
                    if (data.data != null) {
                        var html = '';
                        data.data.forEach(t => {
                            html = html + '<option value=" ' + t.IdCategoria + '">' + t.Descripcion + '</option>';
                        });
                        $("#selectCategoria").append(html);
                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show");
                },
            });

            $('#selectCategoria').on('change', () => {
                var value = $('#selectCategoria').val();
                var text = $('#selectCategoria option:selected').text();
                var categoriaConcatenada = text;
                if (value != 0) {
                    $('#nombreCategoria').text(categoriaConcatenada);
                }
                else {
                    $('#nombreCategoria').text('');
                }
                listarProductos(value, '');
            });

            $("#txtbuscarproducto").on("input", function () {
                var valorInput = $(this).val();
                if (valorInput.length > 2) {
                    listarProductos(0, valorInput)
                }
            });

            var direc2 = null;
            $("#divbtn").hide();
            $("#divTienda").hide();
            $("#divcasilla").hide();
            $("#divAutoIngresoDirec").hide();
            $('#selectTipo').val(0);
            jQuery.ajax({
                url: '@Url.Action("ListarTiendasActivo", "Tienda")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json",
                success: function (data) {
                    $.each(data.data, function (i, item) {
                        $('#ddlTiendas').append('<option value="' + item.IdTiendas + '">' + item.Descripcion + ' - ' + item.Direccion + '</option>');
                    });
                    $(".modal-body").LoadingOverlay("hide");
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show");
                },
            });

            listarProductos(0, '');
            if (localStorage.getItem("direccion") == null) {
                $('#modalInicial').modal('show');
            }

            var valueBtn = null;
            $("#actualizarUbicacion").click(function () {
                $('#modalInicial').modal('show');
            });

            $("#selectTipo").on("click", "button", function () {
                $("#divBtnAceptar").addClass("d-none");
                valueBtn = $(this).data("value");
                if (valueBtn == 1) {
                    $("#divbtn").show();
                    $("#divAutoIngresoDirec").hide();
                    $("#divTienda").hide();
                    $("#map").show();
                }
                else if (valueBtn == 2) {
                    $("#map").hide();
                    $("#divbtn").hide();
                    $("#divcasilla").hide();
                    $("#divAutoIngresoDirec").hide();
                    $("#divTienda").show();
                    $("#divBtnAceptar").removeClass('d-none');
                }
                else {
                    $("#map").hide();
                    $("#divbtn").hide();
                    $("#divTienda").hide();
                    $("#divAutoIngresoDirec").hide();
                }
            });

           





            

            $("#btnAceptar").click(function () {
                //var value = $('#selectTipo').val();
                console.log(valueBtn);
                if (valueBtn == 1) {
                    $('#idcompra').html("Delivery!... Realiza tu pedido");

                    if ($('#autocompleteInput').val() == '') {
                        direc2 = $('#confirmedAddress').val();
                    }
                    else {
                        direc2 = $('#autocompleteInput').val();
                    }
                    localStorage.setItem('tipoEnvio', valueBtn);
                    console.log(direc2);
                    localStorage.setItem("direccion", direc2);
                    $("#modalInicial").modal("hide");
                }
                else if (valueBtn == 2) {
                    var idubicacionTienda = $('select[name="ddlTiendas"] option:selected').text();
                    console.log(idubicacionTienda);
                    $('#encontroTienda').html(" " + idubicacionTienda);
                    $('#idcompra').html("Recojo en tienda " + idubicacionTienda);
                    $("#modalInicial").modal("hide");
                    direc2 = idubicacionTienda;
                    localStorage.setItem("direccion", direc2);
                    //Para la hora de recojo
                    localStorage.setItem('tipoEnvio', valueBtn);
                }
            })
        });


        $(".btn-ver-categoria").click(function () {
            $('#exampleModal').modal('show');
        });


        function listarCategorias(data) {
            console.log(data);
            $("#divCategoria").html("");
            var html = '';
            html = html + '<div class="col-md-12"> <ul class="nav nav-pills flex">';

            var acordeon = '';
            acordeon = '<div class="col-md-12">';
            acordeon = acordeon + '<div class="accordion" id="accordionPanelsStayOpenExample">';

            data.forEach(t => {
                html = html + '<li class="nav-item"> ';
                html = html + '<a class="nav-link active" data-bs-toggle="collapse" href="#panelsStayOpen-collapseOne' + t.IdCategoria + '" role="button" aria-expanded="true">"' + t.Descripcion + '"</a> ';
                html = html + '</li> ';

                acordeon = acordeon + '<div class="accordion-item">';
                acordeon = acordeon + '<h2 class="accordion-header">';
                acordeon = acordeon + '<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne' + t.IdCategoria + '" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne' + t.IdCategoria + '">';
                acordeon = acordeon + t.Descripcion;
                acordeon = acordeon + '</button > </h2> <div id="panelsStayOpen-collapseOne' + t.IdCategoria + '" class="accordion-collapse collapse" data-bs-parent="#accordionPanelsStayOpenExample">';
                acordeon = acordeon + '<div class="accordion-body">';
                acordeon = acordeon + '<div class="container px-2 px-lg-2 mt-5"> ';
                acordeon = acordeon + '<div class="class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"> ';

                t.productos.forEach(t2 => {
                    var t222 = "";
                    acordeon = acordeon + '<div class="col mb-5"> ';
                    acordeon = acordeon + '<div class="card h-100">';
                    acordeon = acordeon + '<img class="card-img-top btn-imagen" src="data:image/' + t2.extension + ';base64,' + t2.base64 + '" data-elemento="' + t222 + '"  > ';
                    acordeon = acordeon + '<div class="card-body p-4">';
                    acordeon = acordeon + '<div class="text-center">';
                    acordeon = acordeon + '<h5 class="fw-bolder">';
                    acordeon = acordeon + t2.Nombre;
                    acordeon = acordeon + '</h5>' + t2.Precio + '</h5> ';
                    acordeon = acordeon + '<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">';
                    acordeon = acordeon + '<button class="btn btn-outline-dark mt-auto btn-detalle"> Ver Detalles </button>';
                    acordeon = acordeon + '<button class="btn btn-outline-dark mt-auto btn-agregar-carrito1"> Agregar al carrito </button>';
                    acordeon = acordeon + '</div></div></div></div> </div></div></div></div>';
                    acordeon = acordeon + ' ';
                });

                acordeon = acordeon + '';
                acordeon = acordeon + '</div> </div> ';

            });
            html = html + '</ul></div>';
            acordeon = acordeon + '</div> </div> ';

            $("#divCategoria").append(html);
            $("#divCategoria").append(acordeon);

            //$('#exampleModal').modal('show');
        }


        $(document).on('click', '.btn-categoria', function (event) {
            $('#exampleModal').modal('hide');
        });


        function listarProductos(_idcategoria, _nombre) {
            jQuery.ajax({
                url: '@Url.Action("ListarProducto", "Tienda")',
                type: "POST",
                data: JSON.stringify({ idcategoria: _idcategoria , nombre:_nombre}),
                dataType: "json",
                contentType: "application/json; charset=utf-8",

                success: function (data) {
                    $("#catalogo-productos").html("");
                    $("#catalogo-productos").LoadingOverlay("hide");
                    if (data.data != null) {
                        console.log("data.data");
                        console.log(data.data);

                        var listCategoria = [];
                        $.each(data.data, function (i, item) {
                            if (!listCategoria.find(t => t.id == item.oCategoria.IdCategoria)) {
                                listCategoria.push({ id: item.oCategoria.IdCategoria, name: item.oCategoria.Descripcion });
                            }
                        });
                        console.log(listCategoria);


                        $.each(listCategoria, function (i, item) {
                            $("<div id='divContenedor" + item.id + "'>").addClass("row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center").append("<div class='col-xl-12 col-12'>  <h5 class='text-danger'> " + item.name +" </h5>  </div> ")
                                .appendTo("#catalogo-productos");
                        });

                        $.each(data.data, function (i, item) {
                            //catalogo-productos
                            $("<div>").addClass("col mb-5").append(
                            $("<div>").addClass("card h-100").append(
                                //$("<img>").addClass("card-img-top btn-imagen").attr({ "src": "data:image/" + item.extension + ";base64," + item.base64 }).attr({
                                $("<img>").addClass("card-img-top btn-imagen").attr({ "src": item.RutaImagen.replace("~", "") }).attr({
                                    "data-elemento": JSON.stringify(item)
                                }),    //Product details
                                $("<div>").addClass("card-body p-2").append(
                                    $("<div>").addClass("text-center").append(
                                        $("<h6>").addClass("fw-bolder").text(item.Nombre),
                                        "S/. " + item.Precio
                                    )
                                ),    //Product actions
                                $("<div>").addClass("card-footer p-2 pt-0 border-top-0 bg-transparent").append(
                                    $("<div>").addClass("d-grid d-md-grid gap-2 d-md-block align-items-center text-center").append(
                                        $("<button>").addClass("btn btn-danger mt-auto btn-detalle").text("Agregar").attr({
                                            "data-elemento": JSON.stringify(item)
                                        }),
                                    )
                                )
                                )).appendTo("#divContenedor" + item.oCategoria.IdCategoria +"");
                        });
                    }
                },

                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {
                    $("#catalogo-productos").LoadingOverlay("show");
                },
            });
        }

        $(document).on('click', '.btn-detalle', function (event) {
            var json = $(this).data("elemento")
            window.location.href = "@Url.Action("Producto", "Tienda")" + "?idproducto=" + json.IdProducto;
        });

        $(document).on('click', '.btn-imagen', function (event) {
            var json = $(this).data("elemento")
            window.location.href = "@Url.Action("Producto", "Tienda")" + "?idproducto=" + json.IdProducto;
        });


        //CARRITO LOGICA
        $(document).on('click', '.btn-agregar-carrito1', function (event) {

            var idUsuario = idUsuarioGlobal;
            var idProducto = $(this).data("idproducto");
            var precio = $(this).data("precio");

            $.ajax({
                url: '@Url.Action("InsertarCarrito", "Tienda")', // Cambia "ControllerName" al nombre correcto de tu controlador
                type: 'POST',
                data: {
                    IdUsuario: idUsuario, // Aquí asigna el valor correcto del usuario
                    IdProducto: idProducto,
                    Cantidad: 1, // Puedes ajustar esto según tus necesidades
                    Adicionales: "",
                    PrecioExtra: precio,
                    Observaciones: $("#txtObservaciones").val() || "Sin observaciones"
                },
                beforeSend: function (xhr) {
                        console.log("Valores enviados en la solicitud AJAX:");
                        //console.log("IdUsuario:", idUsuario);
                        console.log("IdProducto:", idProducto);
                        console.log("Cantidad:", 1);
                        console.log("Adicionales:", " ");
                        console.log("Precio Extra:", precio);
                        console.log("Observaciones:", $("#txtObservaciones").val() || "Sin observaciones"); // Imprime las observaciones en la consola
                    },
                success: function (data) {
                        var actual = parseInt($(".contador-carrito").text());
                        if (data.respuesta) {
                            // El producto se agregó al carrito correctamente
                            actual = actual + 1;
                            $(".contador-carrito").text(actual);
                            swal("Agregado al carrito", "Producto agregado al carrito correctamente", "success");

                            console.log("Producto agregado al carrito");
                        } else {
                            // Hubo un problema al agregar el producto al carrito
                            console.log("No se pudo agregar el producto al carrito");
                        }
                    },
                error: function (error) {
                        console.log("Error en la solicitud AJAX:", error);
                    }
                });

        });

    </script>

}
